--extra-index-url https://download.pytorch.org/whl/cpu

streamlit>=1.37,<2.0
streamlit-webrtc==0.76.2
ultralytics-opencv-headless==8.4.103
numpy==2.1.1
torch==2.4.1+cpu
torchvision==0.19.1+cpu
pillow==10.4.0
pandas==2.2.3
PyMySQL==1.1.1
cryptography
av==17.1.0